@model bs23_project_midLevel.Models.Post
@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Content</td>
            <td>@Model.PostUserName</td>
            <td>@Model.CreatedDateTime</td>
            <td>@Model.TotalComments</td>
        </tr>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>@item.Content</td>
                <td>@item.UserName</td>
                <td>@item.CreatedTime</td>
                <td>@item.Like &nbsp; @item.DisLike</td>
            </tr>
        }
    </tbody>
</table>

